#g-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    max-width: 300px;
}

.game h2 {
    margin-bottom: -20px;
}

.game img {
    max-width: 90%;       
    height: auto;      
    max-height: 150px;
    object-fit: contain;
}

.game a:link, .game a:visited {
    color: var(--fg-color-1);
    text-decoration: none;
}

.game a:hover, .game a:visited:hover {
    color: var(--link-color); 
    text-decoration: underline;
}

.game a:active, .game a:visited:active {
    color: var(--link-active-color); 
}