    <link rel="me" href="https://mast.lat/@autumn64">
    <link rel="me" href="https://kolektiva.social/home">
    <link rel="me" href="https://esperanto.masto.host/@autumn_64">
    <link rel="me" href="https://blahaj.zone/@autumn_64">
    <link rel="me" href="https://pixelfed.social/autumn_64">

