<footer>
  <hr>
  <div class="buttons" style="margin: 30px">
    <a onclick="window.scrollTo({top: 0, behavior: 'smooth'})"><button title="Ir hasta arriba">Ir hasta arriba</button></a>
  </div>
  <p>Autumn64 © 2023-{{ year }}. <a data-i18n="footer.a" href="https://codeberg.org/Autumn64/pages/src/branch/src" target="_blank">Código fuente</a></p>
</footer>
