<section id="autumn64_logo"><a href="/"><img src="/static/logo/logo_line.svg" alt="Autumn64 Logo" title="Volver a la página principal"></a></section>
<header>
  <a href="/aboutme/">
    <div class="socialbtn" title="Sobre mí" style="background-position: 0px;"></div>
  </a>
  <a href="https://www.instagram.com/autumn._64/" target="_blank">
    <div class="socialbtn" title="Instagram (@autumn._64)" style="background-position: -40.5px;"></div>
  </a>
  <a href="https://openfollow.social/@autumn64@mast.lat" target="_blank">
    <div class="socialbtn" title="Mastodon (@autumn64@mast.lat)" style="background-position: -80.5px;"></div>
  </a>
  <a href="https://bsky.app/profile/autumn64-ds.bsky.social" target="_blank">
    <div class="socialbtn" title="Bluesky (@autumn64-ds.bsky.social)" style="background-position: -120.5px;"></div>
  </a>
  <a href="https://www.youtube.com/@autumn64_ds" target="_blank">
    <div class="socialbtn" title="YouTube (@autumn64_ds)" style="background-position: -160.5px;"></div>
  </a>
  <a href="https://codeberg.org/Autumn64" target="_blank">
    <div class="socialbtn" title="Codeberg (Autumn64)" style="background-position: -200px;"></div>
  </a>
  <a href="/settings/">
    <div class="socialbtn" title="Configuración" style="background-position: -240.5px;"></div>
  </a>
</header>
