---
activeLink: blog
---
<!--
Autumn64's pages
Copyright (C) 2023-{{ year }} Mónica Gómez (Autumn64)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/layout-pc.css">
    <link rel="stylesheet" href="/static/css/layout-mobile.css">
    <link rel="stylesheet" href="/static/css/prism-one-dark.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols">
    <link rel="icon" type="image/x-icon" href="/static/misc/favicon.ico">
    {% include 'fediverse.njk' %}
    <title>{{ title | safe }} - Sitio de Autumn64</title>
  </head>
  <body>
  {% include 'header.njk' %}
  <main>
  <article>
      <h1 style="font-size: 48px;">{{ title | safe }}</h1>
      <section class="date">
	{{ date | iso8601 }} &bull; {{ content | readingTime }} de lectura
      </section>
      <section class="author">
	<img class="author-avatar" src="/static/misc/blog-avatar.jpg">
	<div class="author-intro">
	  <section class="author-name">
		  Mónica Gómez
	  </section>
	  <section class="author-socials">
	  <a href="https://linktr.ee/autumn64" target="_blank">
	    <span class="social social-linktree" style="background-position: -2px;"></span>
	  </a>
	  <a href="https://openfollow.social/@autumn64@mast.lat" target="_blank">
	    <span class="social social-linktree" style="background-position: -55px;"></span>
	  </a>
	  <a href="https://www.youtube.com/@autumn_64" target="_blank">
	    <span class="social social-linktree" style="background-position: -82px;"></span>
	  </a>
	  <a href="https://codeberg.org/autumn64" target="_blank">
	    <span class="social social-linktree" style="background-position: -139px;"></span>
	  </a>
	  </section>
	</div>
      </section>
      <section id="t-alignment">
      <div>Alineación del texto</div>
      <div>
	<input type="radio" id="t-left" name="t-align">
	<label for="t-left"><button class="align-btn material-symbols">format_align_left</button></label>
	<input type="radio" id="t-center" name="t-align">
	<label for="t-center"><button class="align-btn material-symbols">format_align_center</button></label>
	<input type="radio" id="t-right" name="t-align">
	<label for="t-right"><button class="align-btn material-symbols">format_align_right</button></label>
	<input type="radio" id="t-justified" name="t-align" checked>
	<label for="t-justified"><button class="align-btn material-symbols">format_align_justify</button></label>
      </div>
      </section>
      <section id="featured-img">
      <img class="featured" src="{{ featured | safe }}">
      </section>
      <section id="post-content">
      {{ content | safe }}
      </section>
      <div class="separator" style="margin: 100px 0;"></div>
      <h5>Comparte este post</h5>
      <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_button_bluesky"></a>
      <a class="a2a_button_mastodon"></a>
      <a class="a2a_button_x"></a>
      <a class="a2a_button_pinterest"></a>
      <a class="a2a_button_email"></a>
      <a class="a2a_button_copy_link"></a>
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
      </div>
      <script>
      var a2a_config = a2a_config || {};
      a2a_config.locale = "es";
      </script>
      <script defer src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
  </article>
  {% include 'footer.njk' %}
  </main>
  </body>
</html>
