# Sígueme en mis redes sociales

<section id="social-icons">
    <a href="https://linktr.ee/autumn64" target="_blank">
    <div class="social-icon" style="background-color: #43E55E;">
      <span class="icon icon-linktree" style="background-position: -2.5px;"></span>
    </div>
    </a>
    <a href="/fediverse">
    <div class="social-icon" style="background-color: #6364FF;">
      <span class="icon icon-fediverse" style="background-position: -38px;"></span>
    </div>
    </a>
    <!--a href="https://www.instagram.com/autumn._64/" target="_blank">
    <div class="social-icon" style="background-color: #FF0069;">
    <img src="/static/social/instagram.svg">
    </div>
    </a-->
    <a href="https://www.youtube.com/@autumn_64" target="_blank">
    <div class="social-icon" style="background-color: #FF0000;">
      <span class="icon icon-youtube" style="background-position: -116px;"></span>
    </div>
    </a>
    <a href="https://codeberg.org/autumn64" target="_blank">
    <div class="social-icon" style="background-color: #2185D0;">
      <span class="icon icon-codeberg" style="background-position: -194.5px;"></span>
    </div>
    </a>
</section>

