main {
	max-width: 100%;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#blogPosts {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	margin-bottom: 100px;
}

@media screen and (width > 750px) {
	main {
		width: 100%;
	}

	#blogPosts {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
