#fediverse-accounts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 50px;
    width: 90%;
    margin: 20px auto 100px auto;
}

.fedaccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-overflow: clip;
    overflow-wrap: break-word;
    gap: 20px;
    font-size: 20px;
}

.account {
  display: block;
  width: 100px;
  height: 100px;
  background-size: auto 100%;
  background-image: url("/static/spritesheets/fediverse-sprite.png");
}

.fedaccount a:link, .fedaccount a:visited {
    color: var(--fg-color-1);
    text-decoration: none;
}

.fedaccount a:hover, .fedaccount a:visited:hover {
    color: var(--fg-color-2);
    text-decoration: underline;
}

.fedaccount a:active, .fedaccount a:visited:active {
    color: var(--fg-color-3);
}
