table {
    max-width: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table img {
    width: 100px;
}

td a:link, td a:visited {
    color: var(--fg-color-1);
    text-decoration: none;
}

td a:hover, td a:visited:hover {
    color: var(--link-color);
    text-decoration: underline;
}

td a:active, td a:visited:active {
    color: var(--link-active-color);
}

.activity {
  display: block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-size: 100% auto;
  background-image: url("/static/spritesheets/activities-sprite.png");
}
