#s-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    max-width: 300px;
}

.service h2 {
    font-size: 26px;
    margin-bottom: -20px;
}

.service img {
    max-width: 90%;
    height: auto;
    max-height: 55px;
    object-fit: contain;
}

.service a:link, .service a:visited {
    color: var(--fg-color-1);
    text-decoration: none;
}

.service a:hover, .service a:visited:hover {
    color: var(--fg-color-2);
    text-decoration: underline;
}

.service a:active, .service a:visited:active {
    color: var(--fg-color-3);
}
